body {
	color: #C6C6C6;
	font-family: Arial;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-areas:
		"header nav"
		"main main" 
		"footer footer"
}


header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	width: 100%;
    grid-area: main;
}

main > h1 {
    background-color: rgba(96, 44, 153, 0.7);
    width: 25%;
    text-align: center;
    padding: 20px;
    border-top: 10px solid rgba(227, 215, 51, 0.6);
    border-bottom: 10px solid rgba(227, 215, 51, 0.6);
    border-right: 10px solid rgba(227, 215, 51, 0.6);
	
}

.list{
	background-color: rgba(96, 44, 153, 0.7);
    width: 100%;
    font-size: 15px;
    text-align: inherit;
    background-opacity: .7;
    padding: 0;
    border-top: 10px solid rgba(227, 215, 51, 0.6);
    border-bottom: 10px solid rgba(227, 215, 51, 0.6);
}

#movies-main{
    display: grid;
    grid-template:
        ". movies-main-title ."
        "movies-main-buttonl movies-main-list movies-main-buttonr"
		/1fr 6fr 1fr;
    place-items: center center;
}

.arrow {
	background-color: rgba(96, 44, 153, 0.0);
    border: none;
    color: #E3D733;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
	font-weight: bold;
}

#movies-list-arrow-left {
	grid-area: movies-main-buttonl;
    
}

.movies-main>h2 {
	grid-area: movies-main-title;
}

.list h2 {
	justify-self: stretch;
    border-bottom: 2px solid #C6C6C6; 
}


.movies-main>ul {
	grid-area: movies-main-list;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	padding: 0;
	justify-self: stretch;
}
#movies-list-arrow-right {
	grid-area: movies-main-buttonr;
    
}

.movies-main>ul>li>a>img {
		display: block;
		margin-left: auto;
		margin-right: auto;
}

#blink {
    color: rgb(227, 215, 51);
}

ul > li > p {
    text-align: center; 
    margin: 0; 
    padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
}

footer {
	grid-area: footer;
}

footer ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;	
	align-items: stretch;
	height: 100%;
}

ul {
	list-style-type: none;
}

nav ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: stretch;
	}

nav ul > li {
	margin-top: 40px;
	font-size: 1.5em;
}

a {
	color: inherit;
	text-decoration: none;
}

#movies-movie-list {
	display: grid;		
	margin-top: 0px;
	padding-right: 40px;
}

#movies-movie-list>ul>li {
	display: grid;		
}
	
#movies-movie-list>li>a {
	display: grid;
	 grid-template:
		"title title"
		"trailer details"
		/ 1fr 2fr;
	column-gap: 10px;
}
#movies-movie-list>li>a>h2 {
	grid-area: title;
}
	
#movies-movie-list>li>a>iframe {
	grid-area: trailer;
}
	
#movies-movie-list>li>a>div {
	grid-area: details;
}

movies-main-list {

}

@media screen and (max-width: 692px) {
    .prices-container > .image {
        display: none;
    }
}


@media screen and (max-width: 800px) {
	
	#movies-movie-list>li>a {
		display: grid;
		grid-template:
			"title"
			"trailer" 
			"details"
			/ 1fr;

	}
	
	#movies-movie-list>li>a>iframe {
		width: 100%;
		height: 48vw;
		margin: 0 auto;
		
	}

	body {
		grid-template-columns: 1fr;
		grid-template-areas:
		"header"
		"nav"
		"main" 
		"footer";
		justify-items: center;
	}
	
	main > h1 {
		width: 75%
	}
	
	nav ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		padding-left: 15px;
	}

	nav ul > li {
		margin: 20px;
		font-size: 1.5em;
		text-align: center;
	}

	nav ul > li > a {
		color: inherit;
		text-decoration: none;
		
	}
	
	footer {
		justify-self: stretch;
	}
	
	footer ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;	
		align-items: center;
		height: 200px;
	}
	
	footer ul * {
		font-size: 1.25em;
	}

}

#prices-main{
    display: grid;
    grid-template: 
        "title title title"
        "img prices-categorie prices-price"
        /1fr 1fr 1fr;
    column-gap: 10px;
}

#prices-main > h2 {
    grid-area: title;
}

#prices-main > img {
    grid-area: img;
}

#prices-categorie {
    grid-area: prices-categorie;
}

#prices-price {
    grid-area: prices-price;
}

#prices-main2{
    display: grid;
    grid-template: 
        "title title"
        "img1 img1"
        "prices-food prices-foodprice"
        "img2 img2"
        /1fr 1fr;
    column-gap: 10px;
}

#prices-main2 > h2 {
    grid-area: title;
}

#prices-picture {
    grid-area: img1;
}

#prices-picture2 {
    grid-area: img2;
}

#prices-food {
    grid-area: prices-food;
}

#prices-foodprice {
    grid-area: prices-foodprice;
}

#events-main{
    display: grid;
    grid-template: 
        "title title"
        "description description"
        /1fr 1fr;
}

#events-main > h2 {
    grid-area: title
}

#events {
    grid-area: description;
}


@media screen and (max-width: 566px) {
	.movies-main > ul {
		justify-content: center;
	}
}

@media screen and (max-width: 566px) {
	#prices-main{
    display: grid;
    grid-template: 
        "title title"
        "prices-categorie prices-price"
        /1fr 1fr;
    column-gap: 10px;
    }
    
    #prices-main > img {
        display: none;
    }
}