body {
	color: #C6C6C6;
	font-family: Arial;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-areas:
		"header nav"
		"main main" 
		"footer footer";
	margin:0;
}


header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	width: 100%;
    grid-area: main;
}

main > h1 {
    background-color: rgba(96, 44, 153, 0.7);
    width: 25%;
    text-align: center;
    padding: 20px;
    border-top: 10px solid rgba(227, 215, 51, 0.6);
    border-bottom: 10px solid rgba(227, 215, 51, 0.6);
    border-right: 10px solid rgba(227, 215, 51, 0.6);
	
}

.list{
	background-color: rgba(96, 44, 153, 0.7);
    width: 100%;
    font-size: 15px;
    text-align: inherit;
    background-opacity: .7;
    padding: 0;
    border-top: 10px solid rgba(227, 215, 51, 0.6);
    border-bottom: 10px solid rgba(227, 215, 51, 0.6);
}

.home-list{
    display: grid;
    grid-template:
        ". movies-main-title ."
        "movies-main-buttonl movies-main-list movies-main-buttonr"
		/1fr 6fr 1fr;
    place-items: center center;
	margin-bottom: 20px;
}

.arrow {
	background-color: rgba(96, 44, 153, 0.0);
    border: none;
    color: #E3D733;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
	font-weight: bold;
}

#movies-list-arrow-left {
	grid-area: movies-main-buttonl;
    
}

.home-list>h2 {
	grid-area: movies-main-title;
}

.list h2 {
	justify-self: stretch;
    border-bottom: 2px solid #C6C6C6; 
}


.home-list>ul {
	grid-area: movies-main-list;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	padding: 0;
	justify-self: stretch;
}
#movies-list-arrow-right {
	grid-area: movies-main-buttonr;
    
}
.home-list>ul>li>h3 {
	text-align: center;
}

.home-list>ul>li>a>img {
		display: block;
		margin-left: auto;
		margin-right: auto;
}

.blink {
    color: rgb(227, 215, 51);
}

ul > li > p {
    text-align: center; 
    margin: 0; 
    padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
}

footer {
	grid-area: footer;
}

footer ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;	
	align-items: stretch;
	height: 100%;
}

ul {
	list-style-type: none;
}

nav ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: stretch;
	}

nav ul > li {
	margin-top: 40px;
	font-size: 1.5em;
}

nav ul ul {
	position: absolute;
	display: block;
}

nav ul ul li {
	list-style-type: circle;
}

nav ul ul * {
	font-size: 0.9em;
	color: #C6C6C6;
}

a {
	color: inherit;
	text-decoration: none;
}

#movies-movie-list {
	display: grid;		
	margin-top: 0px;
	padding-right: 40px;
}

#movies-movie-list>ul>li {
	display: grid;		
}
	
#movies-movie-list>li>a {
	display: grid;
	 grid-template:
		"title title"
		"trailer details"
		/ 1fr 2fr;
	column-gap: 10px;
}
#movies-movie-list>li>a>h2 {
	grid-area: title;
}
	
#movies-movie-list>li>a>iframe {
	grid-area: trailer;
}
	
#movies-movie-list>li>a>div {
	grid-area: details;
}

#prices-main{
    display: grid;
    grid-template: 
        "title title title"
        "img prices-categorie ."
        /1fr 1fr 1fr;
    column-gap: 10px;
}

#prices-main > h2 {
    grid-area: title;
}

#prices-main > img {
    grid-area: img;
    margin-left: 40px;
}

#prices-categorie {
    grid-area: prices-categorie;
}

#prices-main2{
    display: grid;
    grid-template: 
        "title title title"
        "img1 prices-food img2"
        /1fr 1fr 1fr;
    column-gap: 10px;
}

#prices-main2 > h2 {
    grid-area: title;
}

#prices-picture {
    grid-area: img1;
    margin-left: 40px;
}

#prices-picture2 {
    grid-area: img2;
    margin-left: 40px;
}

#prices-food {
    grid-area: prices-food;
}

#prices-foodprice {
    grid-area: prices-foodprice;
}

#events-main{
    display: grid;
    grid-template: 
        "title title"
        "description description"
        /1fr 1fr;
}

#events-main > h2 {
    grid-area: title
}

#events {
    grid-area: description;
}

.footer-text{
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
}

@media screen and (max-width: 800px) {
	
	#movies-movie-list>li>a {
		display: grid;
		grid-template:
			"title"
			"trailer" 
			"details"
			/ 1fr;

	}
	
	#movies-movie-list>li>a>iframe {
		width: 100%;
		height: 48vw;
		margin: 0 auto;
		
	}

	body {
		grid-template-columns: 1fr;
		grid-template-areas:
		"header"
		"nav"
		"main" 
		"footer";
		justify-items: center;
	}
	
	main > h1 {
		width: 75%
	}
	
	nav ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		padding-left: 15px;
	}

	nav ul > li {
		margin: 20px;
		font-size: 1.5em;
		text-align: center;
	}
	
	nav ul ul  {
		position: relative;
		margin-left: 180px;
	}
	
	nav ul ul>li {
		position: unset;
		text-align:left;
	}
	
	nav ul ul>li> * {
		font-size: 0.65em;
	}
	
	nav ul > li > a {
		color: inherit;
		text-decoration: none;
		
	}
	
	footer {
		justify-self: stretch;
	}
	
	footer ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;	
		align-items: center;
		height: 200px;
	}
	
	footer ul * {
		font-size: 1.25em;
	}
    
    #prices-main2 {
        display: grid;
        grid-template: 
            "title"
            "img1"
            "prices-food"
            "img2"
            /1fr;
        column-gap: 10px;
        justify-items: center;
    }
    
    #prices-picture, #prices-picture2 {
        margin-left: 0;
    }
}

@media screen and (max-width: 566px) {
	.home-list > ul {
		justify-content: center;
	}
}

@media screen and (max-width: 566px) {
	#prices-main{
    display: grid;
    grid-template: 
        "title title"
        "prices-categorie prices-price"
        /1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    }
    
    #prices-main > img {
        display: none;
    }
}