body {
	color: #C6C6C6;
	font-family: Arial;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-areas:
		"header nav"
		"main main" 
		"footer footer"
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

ul {
	list-style-type: none;
}

nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "menu-home menu-movies menu-prices menu-events";
	place-items: center center;
	height: 100%;
	
}

nav ul > li {
	margin: 0 auto;
}

#menu-home {
	grid-area: menu-home;
}

#menu-movies {
	grid-area: menu-movies;
}

#menu-prices {
	grid-area: menu-prices;
}

#menu-events {
	grid-area: menu-events;
}